/* Home.module.css */
@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap");
/* General Styles */
.home {
  font-family: "Inconsolata", monospace;
  text-align: center;
}

.home h1 {
  font-weight: 500;
  font-size: 4rem;
}

.home p {
  margin: 10rem;
  font-weight: 400;
}
